#heroWithHeader {
  background-image: url("../../assets/julia-solonina-Csja8O0sbOw-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  object-fit: cover;

  .heroWithHeader {
    color: white;
    background: rgb(255 255 255 / 20%);
    padding: 1rem 0;


    .menus{
      ul{
        li{
          cursor: pointer;
        }
      }
    }
    .actions {
      ul {
        li {
          cursor: pointer;
          button {
            cursor: pointer;
            padding: 0.7rem 2rem;
            color: #fff;
            border-radius: 30px;
            border: 0;
            font-size: 16px;
            background-color: var(--orange-color);
          }
        }
      }
    }
  }

  .filter {
    // height: 400px;
    padding-bottom: 6rem;

    .itsHeader {
      margin: 3rem 0;
      text-align: center;
      color: #fff;
      h1 {
        font-family: "Podcast", sans-serif;
        font-size: 72px;
      }
      p {
        font-size: 24px;
      }
    }

    .itsSearch {
      padding: 1rem;
      background: #ffffff20;
      border-radius: 20px;
    }
  }

  @media only screen and (max-width: 991px) {
  }
}

.burgerMenu {
  display: none;

  button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    div {
      width: 2rem;
      height: 0.25rem;
      background: var(--orange-color);
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
  }
}

.menu {
  display: none;
  width: 90%;
  flex-direction: column;
  // justify-content: center;
  background: #fff;
  transform: translateX(100%);
  height: 100%;
  text-align: left;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  transition: transform 0.3s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 1rem 0;
    }
  }
}

.showMenu {
  transform: translateX(0);
}

.open {
  transform: rotate(45deg) !important;

  &:nth-child(2) {
    opacity: 0;
    transform: translateX(20px) !important;
  }

  &:nth-child(3) {
    transform: rotate(-45deg) !important;
  }
}

.displayNone {
  display: none !important;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: flex;
  }

  .menus {
    display: none;
  }

  .actions {
    display: none;
  }
  .actionsMobile {
    li {
      background: #fff;
      border-radius: 24px;
      color: var(--orange-color);
      text-align: center;
      margin-bottom: 1rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .menu {
    display: flex;
    color: #fff;
    background: var(--orange-color);
  }

  .crossBtn {
    position: absolute;
    z-index: 1000 !important;
    font-size: 24px;
    color: #fff;
  }
}
